#gameId.id
  %p.hidden= @game.id
.detail
  %h1= "detail"

- @game.players.each do |player|
  = render :partial => 'player', :locals => {:player => player}

.counterCreator
  %h1= "zOMg MAke Moar Counters"
.counterDropZone

.clear
