- card.attacks.each do |attack|
  Attack:
  = icon_list attack.cost_array
  == :
  = icon_list attack.damage_array

- card.activated_abilities.each do |activated_ability|
  = icon_list activated_ability.cost_array

  == :
  = activated_ability.effect.text_value
